html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Anton', serif;
    background-color: rgb(215, 186, 218);
   
}
.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/p.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
  }
.nav {background-color: #fff;
}
.nav-item :hover {
    background-color: #eccaeb;
    color: #fff;
    border-radius: 5px;
  }
  
  
  